
body,
html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333(101, 101, 101);
  padding: 10px;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

nav ul li a.active {
  color: #ff6f00;
}

.element {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff6f00;
}


.element:nth-child(odd) {
  background-color: #ff6f00;
  color: #fff;
  /*background-image: url('image1.jpg'); /* Replace with your own image */
}

a{
  color: white;
}



.element:nth-last-of-type(3){
  background-image: url('../public/background.jpg');
  color: #ff6f00;
}

.element:nth-last-of-type(1){
  background-color: #777777;
}






.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.scroll-top-button:hover {
  background-color: #ff6f00;
}
