
body{
  min-height: 100%;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

.App {
  text-align: center;
  background-color: #000000;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333(101, 101, 101);
  padding: 10px;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

nav ul li a.active {
  color: #9a39b3;
}


.element {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#000000;
  /* background-color: #ff6f00; */
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {


  .element {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
  }

}

a{
  color: white;
}

h1{
  animation-duration: 3s;
  animation-name: slidein;
}

.element:nth-last-of-type(4){
  background-image: url('../public/background.jpg');
  background-size: cover;
  color: #9a39b3;
}



@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .background{
    background-image: url('../public/background2.jpg');
    background-size: cover;
    max-width: 100%;
    height: 100vh; 
 }
}

/* @media only screen and (min-device-width: 600px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 10) and (orientation: portrait) {

  .background{
    background-image: url('../public/background2.jpg');
    background-size: cover;
    max-width: 100%;
    height: 100vh; 
 }
} */


.element:nth-last-of-type(3){
  background-color: #9a39b3;
  height: fit-content;
  padding-bottom: 3%;
  color: white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .element:nth-last-of-type(4){
    padding-bottom: 10%;
    height: auto;
  }
}

.lastsection{
  width: 100%;
  height: 100%;
  background-color: #bd0000;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .element:nth-last-of-type(3){
    height: auto;
    overflow: hidden;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .element:nth-last-of-type(1){
    height: auto;
    overflow: hidden;
  }
}

.element:nth-last-of-type(1){
  height: auto;
}

.element:nth-last-of-type(2){
  height: auto;
  margin-bottom: 5%;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.scroll-top-button:hover {
  background-color: #9a39b3;
}

.ititle{
  color:rgb(84, 84, 84);
  margin-bottom: 1%;
}